<div class="container">
    <div class="container-body">
        <div class="heading-container">
            <h1>Groups</h1>
            <h1 class="home" (click)="OnClickHome()">Home</h1>
            <button (click)="logout()">Logout</button>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Group ID</th>
                        <th>Group Name</th>
                        <th>Credited At</th>
                        <th>Project</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let group of GroupData">
                        <td>{{group.groupId}}</td>
                        <td>{{group.groupName}}</td>
                        <td>{{group.createdAt}}</td>
                        <td><button (click)="OnclickView(group.groupId)">View</button></td>
                    </tr>
                </tbody>
            </table>
            <ngx-loading [show]="loading" [config]="{
                    primaryColour: primaryColour,
                    secondaryColour: secondaryColour,
                    tertiaryColour: primaryColour,
                    backdropBorderRadius: '3px'
                }" [template]="loadingTemplate">
            </ngx-loading>
        </div>
        <div class="option-container">
            <div class="create-group" (click)="onClickGroupCreate()">+ Group</div>
            <div class="entroll-group">+ Entroll</div>
        </div>
        <div class="group-form" [style.display]="showGroupForm ? 'block' : 'none'">
            <form #groupForm="ngForm" (ngSubmit)="onSubmit()">
                <label for="groupName">Group Name:</label>
                <input type="text" id="groupName" name="groupName" required [(ngModel)]="groupName">
                <div class="btnDiv">
                    <button type="submit">Submit</button>
                    <button type="button" (click)="onCancel()">Close</button>
                </div>
            </form>
        </div>

    </div>


</div>