.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
}

.container-body {
    margin-top: 1%;
    width: 80%;
}

.heading-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {

        font-size: larger;
        font-weight: bold;
    }

    button {
        border: none;
        background-color: #007bff;
        color: #fff;
        border-radius: 1vh;
        width: 8vw;
        height: 4vh;
        cursor: pointer;
    }
}


table {
    margin-top: 10%;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

    button {
        border: none;
        background-color: #007bff;
        color: #fff;
        width: 8vw;
        height: 4vh;
        border-radius: 1vh;
        cursor: pointer;
    }
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.home{
    cursor: pointer;
}
.option-container{
 display: flex;
 flex-direction: row;
 justify-content: end;
 align-items: center;
 margin-top: 1%;
 gap: 2%;
 color:whitesmoke
}
.create-project ,.entroll-project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
        background-color: #007bff;
        color: #fff;
        width: 8vw;
        height: 4vh;
        border-radius: 1vh;
        cursor: pointer;
}
.empty-container{
    text-align: center;
    
}