    
<div class="container">
    <div class="container-body">
        <div class="heading-container">
            <h1>Projects</h1>
            <h1 class="home" (click)="OnClickHome()">Home</h1>
            <button (click)="logout()">Logout</button>
        </div>
        <div class="empty-container"*ngIf="(!ProjectData)">"There is no project creted yet."</div>
        <div class="table-container" *ngIf="(ProjectData)">
            <table>
                <thead>
                    <tr>
                        <th>Project ID</th>
                        <th>Project Name</th>
                        <th>Credited At</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button >View</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="option-container">
            <div class="create-project">+ Project</div>
            <div class="entroll-project">+ Entroll</div>
        </div>
    </div>
</div>
