    
<div class="container">
    <div class="container-body">
        <div class="heading-container">
            <h1>Projects</h1>
            <button >Logout</button>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Project ID</th>
                        <th>Project Name</th>
                        <th>Credited At</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button >View</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
